<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!-- Event log name that will be used across all services -->
    <add key="EventLogName" value="My Multiple WinSvcs Events"/>
    <!-- Name and description for the first service -->
    <add key="ServiceOne.ServiceName" value="TEST Service ONE"/>
    <add key="ServiceOne.ServiceDescription" value="Description of first service"/>
    <!-- For loggin levels, refer to the LogLevel enum. -->
    <add key="ServiceOne.EventLogLevel" value="Information"/>
    <!-- Name and description for the second service -->
    <add key="ServiceTwo.ServiceName" value="TEST Service TWO"/>
    <add key="ServiceTwo.ServiceDescription" value="Description of second service"/>
    <!-- For loggin levels, refer to the LogLevel enum. -->
    <add key="ServiceTwo.EventLogLevel" value="Information"/>
  </appSettings>
</configuration>
