<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!-- Event log name that will be used across all services -->
    <add key="EventLogName" value="My Multiple WinSvcs Events"/>
    <!-- Name and description for the first service -->
    <add key="ServiceOne.Name" value="ServiceONE"/>
    <add key="ServiceOne.DiplayName" value="TEST Service ONE"/>
    <add key="ServiceOne.Description" value="Description of first service"/>
    <!-- Number of seconds between processing for this service. -->
    <add key="ServiceOne.RunIntervalSeconds" value="5"/>
    <!-- For loggin levels, refer to the LogLevel enum. -->
    <add key="ServiceOne.EventLogLevel" value="Information"/>
    <!-- Name and description for the second service -->
    <add key="ServiceTwo.Name" value="ServiceTWO"/>
    <add key="ServiceTwo.DisplayName" value="TEST Service TWO"/>
    <add key="ServiceTwo.Description" value="Description of second service"/>
    <!-- Number of seconds between processing for this service. -->
    <add key="ServiceTwo.RunIntervalSeconds" value="60"/>
    <!-- For loggin levels, refer to the LogLevel enum. -->
    <add key="ServiceTwo.EventLogLevel" value="Information"/>
  </appSettings>
</configuration>
